.users{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.users li{
	display: inline-block;
}

.users li a{
	display: block;
	color: #666;
	text-decoration: none;
	width: 200px;
	text-align: center;
	line-height: 200px;
	background-color: #f5f5f5;
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.users li a:hover{
	background-color: #ccc;
	color: #000;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}