<md-dialog aria-label="{{vm.title}}"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{vm.title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.close()">
          <md-icon md-svg-src="/pkg/backend/img/close.svg" aria-label="Cerrar"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div ng-repeat="item in vm.record.fields">
          <md-input-container ng-if="[1,5,8].indexOf(item.type)!=-1">
            <label>{{item.name}}</label>
            <input ng-model="item.value" ng-disabled="item.disabled">
          </md-input-container>
          <md-input-container ng-if="item.type==4"> <!-- Number -->
            <label>{{item.name}}</label>
            <input type="number" ng-model="item.value">
          </md-input-container>
          <md-input-container ng-if="[2,3,6].indexOf(item.type)!=-1"> <!-- Calendar -->
            <label>{{item.name}}</label>
            <input ng-model="item.value" type="datetime-local">
          </md-input-container>
          <md-input-container ng-if="item.type==7"> <!-- Bool -->
            <label>{{item.name}}</label>
            <md-select ng-model="item.value">
              <md-option value="true">
                <md-icon md-svg-src="/pkg/backend/img/on.svg" aria-label="Si"></md-icon>
                Si
              </md-option>
              <md-option value="false">
                <md-icon md-svg-src="/pkg/backend/img/off.svg" aria-label="No"></md-icon>
                No
              </md-option>
            </md-select>
          </md-input-container>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
      <md-button ng-click="vm.save()">
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>