body, html {
  height: 100%;
  font-family: Roboto,Helvetica Neue,sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
header{
  background-color: #fff;
  line-height: 50px;
  padding-left: 16px;
  font-size: 22px;
  border-bottom: 1px solid #ccc;
}
header a{
  display: inline-block;
  color: #888;
  width: 30px;
  line-height: 30px;
  margin-right: 16px;
  text-decoration: none;
  text-align: center;
}
header a:hover{
  color: #000;
  background-color: #ddd;
  border-radius: 6px;
}
section{

}
.box{
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  border-radius: 6px;
  min-height: 200px;
  padding: 16px;
  margin-top: 16px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}
.box-title{
  font-size: 22px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 16px;
}
.users{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.users li{
  display: inline-block;
}
.users li a{
  display: block;
  color: #888;
  text-decoration: none;
  width: 200px;
  text-align: center;
  line-height: 200px;
  background-color: #f5f5f5;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.users li a:hover{
  background-color: #ccc;
  color: #000;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.photos{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.photos li{
  display: inline-block;
  width: 200px;
}
.photos li img{
  width: 100%;
}
.credits{

}
.credits a{
  color: #888;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 8px;
}
.credits a:hover{
  color: #000;
}
footer{
  position: absolute;
  bottom: 0;
  line-height: 50px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  width: 100%;
  text-align: right;
}
footer span{
  display: inline-block;
  margin-right: 16px;
}
