body, html {
	height: 100%;
	font-family: Roboto,Helvetica Neue,sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
}

header{
	background-color: #fff;
	line-height: 50px;
	padding-left: 16px;
	font-size: 22px;
	border-bottom: 1px solid #ccc;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header a{
	display: inline-block;
	color: #888;
	width: 30px;
	line-height: 30px;
	margin-right: 16px;
	text-decoration: none;
	text-align: center;
}

header a:hover{
	color: #000;
	background-color: #ddd;
	border-radius: 6px;
}

section{
	margin: 60px 0;
}

.box{
	background-color: #fff;
	width: 80%;
	margin: 0 auto;
	border-radius: 6px;
	min-height: 200px;
	padding: 16px;
	margin-top: 16px;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.box > h1 {
	border-bottom: 1px solid #ddd;
    font-size: 22px;
    margin-top: 0;
}

.credits{

}

.credits a{
	color: #666;
	text-decoration: none;
	display: inline-block;
	margin-bottom: 8px;
}

.credits a:hover{
	color: #000;
}

footer{
	position: fixed;
	bottom: 0;
	line-height: 50px;
	background-color: #fff;
	border-top: 1px solid #ccc;
	width: 100%;
	text-align: right;
}

footer span{
	display: inline-block;
	margin-right: 16px;
}