.center{
  text-align: center;
}

.right{
  text-align: right;
}

.full-page{
  height: 100%;
  overflow: auto;
  width: 100%;
}

.list-title-row{
  padding-left: 16px;
  width: 100%;
}

.field{
  padding-bottom: 16px;
  min-height: 20px;
  position: relative;
  text-align: center;
}

.field > a{
  display: block;
  color: #888;
  text-decoration: none;
}

.field > a:hover{
  color: #000;
}

.field-5{
  min-width: 40px;
  width: 5%;
}

.field-10{
  min-width: 80px;
  width: 10%;
}

.field-15{
  min-width: 110px;
  width: 15%;
}

.field-20{
  min-width: 140px;
  width: 20%;
}

.field-25{
  min-width: 200px;
  width: 25%;
}

.field-30{
  min-width: 220px;
  width: 30%;
}

.field-35{
  min-width: 260px;
  width: 35%;
}

.field-40{
  min-width: 300px;
  width: 40%;
}

.field-45{
  min-width: 320px;
  width: 45%;
}

.btn-black{
  color: #000;
}

.btn-disabled{
  color: #ccc !important;
}

.btn-fab{
  right: 20px;
  bottom: 20px;
  position: fixed;
}