Options +FollowSymLinks +ExecCGI

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

	RewriteCond %{HTTP:Authorization} ^(.*)
	RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

	RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
	RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

	# Descomentar para redirigir todas las llamadas a https
	RewriteCond %{SERVER_PORT} 80
	RewriteRule ^(.*)$ https://ofw.osumi.es/$1 [R,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	# Redirigimos todo al controlador frontal
	RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>