Options +FollowSymLinks +ExecCGI

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

	RewriteCond %{HTTP:Authorization} ^(.*)
	RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

	RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
	RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

	# Uncomment to redirect every call to https
	# RewriteCond %{SERVER_PORT} 80
	# RewriteRule ^(.*)$ https://demo.osumi.es//$1 [R,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	# Redirect everything to the front controller
	RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>